<!DOCTYPE html>
<!--
Hrishi Hiraskar
25 August 2016
-->
<!DOCTYPE HTML>
<html>
    <head><title>Send Time</title></head>
<body>
	
	<button onclick="get_data()">Start</button>
	<br><br>
        <span id="foo"></span>

	<script type="text/javascript">
        var eventSource;
        
        function get_data(){
            eventSource = new EventSource('/SendTime');
			//start listening to server
            eventSource.addEventListener("timestamp", function(event){
               var t = new Date(parseInt(event.data)).toLocaleString()
               document.getElementById('foo').innerHTML += t + "<br/>";
            }, false);	
			//stop listening
            eventSource.addEventListener("DONE", function(event){
               eventSource.close(); 	//close connection
            }, false);
        }
        
	</script>
</body>
</html>
